<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Contact Us</title>
</head>
<body>

<div class="container mt-5" layout:fragment="content">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center">Contact PJATK Sushi</h1>
      <p class="text-center">PJATK Sushi welcomes your feedback and inquiries. Please feel free to contact us using the details below:</p>
      <ul class="list-unstyled text-center">
        <li>Address: 123 Main Street, Warsaw, Poland</li>
        <li>Phone: +48 123 456 789</li>
        <li>Email: info@pjatk-sushi.com</li>
      </ul>
    </div>
  </div>
</div>

</body>
</html>
