<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<header th:fragment="header">
    <div class="top-bar d-flex justify-content-between align-items-center">
        <div class="logo">PJATK <br> SUSHI</div>
        <nav class="nav-links d-flex gap-3">
            <a href="/mainPage" class="nav-link text-white">HOME</a>
            <a href="/menu" class="nav-link text-white">MENU</a>
            <a href="/about" class="nav-link text-white">ABOUT US</a>
            <a href="/contact" class="nav-link text-danger">CONTACT US</a>
        </nav>
        <div class="checkout-container d-flex align-items-center gap-2">
            <form action="/cart" method="get" th:if="${customer != null}">
                <button type="submit" class="btn btn-danger">Check out</button>
            </form>
            <a th:if="${customer != null}" href="/profile">
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/66324a42e966d6f5d834c986899353a3aff9d01ba13a80e16bbe0b58855a2555?apiKey=4ec25aefa19b41c1b0a08d4357b47526&"
                     alt="Checkout" class="checkout-image img-fluid ml-2" />
            </a>
            <div th:if="${customer != null}">
<!--                <div th:if="${customer.isAdmin}">-->
<!--                    <a href="/admin/new-item" class="btn btn-warning">Create New Item</a>-->
<!--                </div>-->
            </div>
            <div th:if="${customer == null}">
                <a href="/auth/registration" class="btn btn-primary">Register</a>
                <a href="/auth/login" class="btn btn-secondary">Login</a>
            </div>
        </div>
    </div>
</header>

<div class="container" th:fragment="offerContainer">
    <div class="offer-container">
        <h2 class="offer-title">Popular offers</h2>
        <div class="row">
            <div th:each="item : ${items}" class="col-lg-3 col-md-6">
                <div class="offer-item">
                    <div class="offer-content">
                        <h3 th:text="${item.name}" class="offer-name">Offer Name</h3>
                        <p th:text="${item.description}" class="offer-description">Offer Description</p>
                        <p th:text="'$' + ${item.price}" class="offer-price">Offer Price</p>
                    </div>
                    <img th:src="@{'/images/sushi/' + ${item.id} + '.jpg'}" alt="Offer Image" class="offer-image img-fluid">
                    <form th:action="@{/addToCart}" method="post">
                        <input type="hidden" name="itemId" th:value="${item.id}">
                        <input type="hidden" name="currentUrl" th:value="${request.getRequestURI()}">

                        <div class="form-group">
                            <label for="quantity">Quantity:</label>
                            <input type="number" id="quantity" name="quantity" min="1" value="1" class="form-control">
                        </div>
                        <button type="submit" class="offer-action btn btn-primary">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:fragment="footer" class="footer mt-5 py-3 text-white text-center">
    <div>
        <p>&copy; 2024 PJATK Sushi. All rights reserved.</p>
    </div>
</footer>
</body>
</html>
